<footer data-template="pages:parse-params">
    <p class="footer__links">
        <a href="${app}/Documentation/aviso_legal" class="footer__link">
            <pb-i18n key="aviso.titre">Aviso legal</pb-i18n>
        </a>
        <a href="${app}/mapa_sitio.html" class="footer__link">
            <pb-i18n key="mapa.titre">Mapa del sitio</pb-i18n>
        </a>
        <a href="${app}/Documentation/contacto" class="footer__link">
            <pb-i18n key="contacto.titre">Contacto</pb-i18n>
        </a>
    </p>
    <p class="footer__logos">
        <a href="https://e-editiones.org/" target="_blank" aria-label="Open a new tab with the official website of E-Editiones" tabindex="-1">
            <img src="resources/images/logos/powered-by-editiones-color.svg" alt="Logo of E-Editiones" height="40"/>
        </a>
        <a href="https://www.sandozfondation.ch/fr" target="_blank" aria-label="Open a new tab with the official website of the foundation Sandoz-Monique de Meuron family" tabindex="-1">
            <img src="resources/images/logos/fondation_sandoz.png" alt="Logo of the foundation Sandoz-Monique de Meuron family" height="40"/>
        </a>
        <a href="https://www.unige.ch/lettres/fr/" target="_blank" aria-label="Open a new tab with the official website of the University of Geneva" tabindex="-1">
            <img src="resources/images/logos/lettres_noir70.jpg" alt="Logo of the letter faculty of the University of Geneva" height="50"/>
        </a>
        <a href="https://www.ephemerahelvetica.ch/accueil" target="_blank" aria-label="Open a new tab with the website of the Swiss association Ephemera Helvetica" tabindex="-1">
            <img src="resources/images/logos/ephemerahe.logo.BW.jpg" alt="Logo of the Swiss association Ephemera Helvetica" height="40"/>
        </a>
        <a href="https://github.com/DesenrollandoElCordel" target="_blank" aria-label="Open a new tab with the GitHub page of Untangling the cordel" tabindex="-1">
            <img src="resources/images/logos/GitHub-Mark-64px.png" alt="Logo of GitHub" height="40"/>
        </a>
        <a href="https://www.instagram.com/spanish_woodcuts/" target="_blank" aria-label="Open a new tab with the project's Instagram" tabindex="-1">
            <img src="resources/images/logos/logo_Insta.jpg" alt="Logo of Instagram" height="40"/>
        </a>
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" aria-label="Open a new tab with the website of Creative Commons" tabindex="-1">
            <img src="resources/images/logos/CreativeCommons.png" alt="Logo of the CC-BY-NC-SA licence" height="30"/>
        </a>
    </p>
</footer>